@model IndexVM
@{
    ViewBag.Title = "Calories";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<fieldset class="eat-holder">
    <legend>What did you eat?</legend>
    @foreach (Food f in Model.Foods.OrderByDescending(f => Model.Meals.Count(m => m.FoodID == f.ID)))
    {
        <div class="eat-item">
            <form asp-action="Eat" asp-controller="Home" class="form-eat">
                <button name="ID" value="@f.ID">@f.Name</button>
                <input name="Count" type="number" class="eat-count" placeholder="@f.Calories" />
            </form>
        </div>
    }
</fieldset>

<fieldset>
    <legend>@DateTimeOffset.Now.ToString("HH:mm dddd dd MMMM yyyy")</legend>
    <table class="table-striped">
        <thead>
            <tr>
                <th>Food</th>
                <th class="text-right">Count</th>
                <th class="text-right">Calories</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Total</td>
                <td class="text-right">@Model.Meals.Sum(m => m.Count) </td>
                <td class="text-right">@Model.Meals.Sum(m => m.Food.Calories * m.Count)</td>
            </tr>
            @foreach (Meal m in Model.Meals.OrderByDescending(m => m.Count).ThenBy(m => m.Food.Name))
            {
                <tr>
                    <td>@m.Food.Name</td>
                    <td class="text-right">@m.Count</td>
                    <td class="text-right">@( m.Food.Calories * m.Count)</td>
                    <td><a asp-action="Delete" asp-route-id="@m.Food.ID">Delete 1</a></td>
                </tr>
            }
        </tbody>
    </table>
</fieldset>
<p><a asp-action="Index" asp-controller="Food">Manage</a></p>
